.index {
    align-items: flex-start;
    background-color: #ffffff;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.index .div {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.index .header {
    background-color: transparent;
    height: 211px;
    position: relative;
    width: 1501px;
}

.index .header-logo-wrap {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    left: 72px;
    padding: 10px;
    position: absolute;
    top: 76px;
}

.index .header-logo {
    height: 80.85px;
    position: relative;
    width: 194.38px;
}

.index .header-profile-icon {
    height: 52px;
    left: 1366px;
    position: absolute;
    top: 99px;
    width: 46px;
}

.index .header-mission-wrap {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 435px;
    padding: 10px;
    position: absolute;
    top: 98px;
}

.index .text-wrapper {
    color: #000000;
    font-family: "Do Hyeon", Helvetica;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.index .header-gathering {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 637px;
    padding: 10px;
    position: absolute;
    top: 98px;
}

.index .header-funding-wrap {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 883px;
    padding: 10px;
    position: absolute;
    top: 98px;
}

.index .header-support-wrap {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 1057px;
    padding: 10px;
    position: absolute;
    top: 98px;
}

.index .header-message-icon {
    height: 47px;
    left: 1247px;
    position: absolute;
    top: 104px;
    width: 44px;
}

.index .header-noti-icon {
    height: 27px;
    left: 1314px;
    position: absolute;
    top: 108px;
    width: 25px;
}

.index .element {
    height: 80px;
    left: 55px;
    position: absolute;
    top: 76px;
    width: 296px;
}

.index .overlap-group {
    background-color: #13954c;
    border-radius: 33.43px/38.08px;
    height: 76px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 67px;
}

.index .icon-leaf {
    height: 51px;
    left: 16px;
    position: absolute;
    top: 14px;
    width: 35px;
}

.index .ECO-CONNECT {
    color: #000000;
    font-family: "Alata", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 71px;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    top: 0;
    width: 223px;
}

.index .div-2 {
    height: 248px;
    position: relative;
    width: 1227px;
}

.index .gathering-join-image {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    left: 166px;
    padding: 10px;
    position: absolute;
    top: 0;
}

.index .img {
    height: 228px;
    object-fit: cover;
    position: relative;
    width: 1040.93px;
}

.index .gathering-join {
    height: 228px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 1221px;
}

.index .overlap-group-2 {
    height: 228px;
    position: relative;
    width: 1217px;
}

.index .gathering-join-text {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 146px;
    width: 836px;
}

.index .gathering-join-cover {
    background-color: #03c75a80;
    border-radius: 25px;
    height: 228px;
    left: 176px;
    position: absolute;
    top: 0;
    width: 1041px;
}

.index .gathering-join-text-2 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 26px;
    font-weight: 600;
    left: 227px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 60px;
    width: 544px;
}

.index .gathreing-detail {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 137px;
    position: relative;
    width: 363px;
}

.index .gathering-detail {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 32px;
    font-weight: 500;
    height: 137px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 363px;
}

.index .gathering-detail-2 {
    height: 9px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: -5px;
    width: 1444px;
}

.index .gathering-detail-3 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 1784px;
    padding: 0px 321px;
    position: relative;
    width: 1501px;
}

.index .gathering-detail-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    margin-right: -20px;
    position: relative;
}

.index .gathering-detail-4 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.index .img-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: relative;
}

.index .gathering-detail-5 {
    height: 309px;
    object-fit: cover;
    position: relative;
    width: 859px;
}

.index .gathering-detail-6 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    left: 36px;
    padding: 10px;
    position: absolute;
    top: 212px;
}

.index .gathering-detail-7 {
    background-color: #ffffff;
    border-radius: 21px;
    height: 129px;
    position: relative;
    width: 788px;
}

.index .gathering-detail-8 {
    height: 44px;
    left: 381px;
    position: absolute;
    top: -16px;
    width: 44px;
}

.index .div-wrapper {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 359px;
    padding: 10px;
    position: absolute;
    top: 26px;
}

.index .gathering-detail-9 {
    color: #676767;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.index .rectangle-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    position: relative;
}

.index .rectangle {
    background-color: #f2f2f2;
    border-radius: 30px;
    height: 1332px;
    position: relative;
    width: 869px;
}

.index .frame {
    height: 21px;
    position: relative;
    width: 38px;
}

.index .gathering-detail-10 {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 360px;
    padding: 10px;
    position: absolute;
    top: 287px;
}

.index .gathering-detail-11 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.index .gathering-detail-12 {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 108px;
    padding: 10px;
    position: absolute;
    top: 379px;
}

.index .p {
    color: #2c2c2c;
    font-family: "Inter", Helvetica;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.index .gathering-detail-13 {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 109px;
    padding: 10px;
    position: absolute;
    top: 730px;
}

.index .text-wrapper-2 {
    color: #fe3338;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.index .gathering-detail-14 {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 109px;
    padding: 10px;
    position: absolute;
    top: 763px;
}

.index .gathering-detail-15 {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 113px;
    padding: 10px;
    position: absolute;
    top: 792px;
}

.index .gathering-detail-16 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.index .gathering-detail-17 {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 115px;
    padding: 10px;
    position: absolute;
    top: 819px;
}

.index .gathering-detail-18 {
    color: #777777;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.index .gathering-detail-19 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    left: 36px;
    padding: 10px;
    position: absolute;
    top: 894px;
}

.index .rectangle-2 {
    background-color: #ffeded;
    border-radius: 25px;
    height: 215px;
    position: relative;
    width: 788px;
}

.index .gathering-preview {
    height: 47px;
    left: 380px;
    position: absolute;
    top: 49px;
    width: 47px;
}

.index .gathering-preview-wrapper {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 225px;
    padding: 10px;
    position: absolute;
    top: 104px;
}

.index .gathering-preview-2 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
}

.index .gathering-preivew {
    height: 77px;
    left: 341px;
    position: absolute;
    top: 156px;
    width: 136px;
}

.index .gathering-preview-3 {
    align-items: center;
    background-color: #ff0000;
    border-radius: 15px;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 20px;
    padding: 10px;
    position: relative;
    top: 4px;
}

.index .text-wrapper-3 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.index .gathering-gather {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 14px;
    left: 113px;
    position: absolute;
    top: 1163px;
}

.index .gathering-gather-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
}

.index .gathering-gather-2 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.index .gathering-gather-num {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
}

.index .gathering-gather-num-wrapper {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: relative;
    width: 152px;
}

.index .gathering-gather-pos {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: flex-end;
    padding: 10px;
    position: relative;
}

.index .gathering-gather-pos-2 {
    flex: 0 0 auto;
    margin-bottom: -0.29px;
    margin-left: -0.5px;
    margin-top: -0.5px;
    position: relative;
}

.index .gathering-gather-3 {
    height: 40px;
    left: 508px;
    position: absolute;
    top: 1253px;
    width: 286px;
}

.index .overlap-group-wrapper {
    height: 40px;
    left: 153px;
    position: absolute;
    top: 0;
    width: 135px;
}

.index .overlap-group-3 {
    background-color: #c7030e;
    border-radius: 9px;
    height: 40px;
    position: relative;
    width: 133px;
}

.index .gathering-gather-4 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 600;
    left: 53px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 9px;
}

.index .overlap-wrapper {
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 135px;
}

.index .overlap {
    background-color: #6f4ff2;
    border-radius: 9px;
    height: 40px;
    position: relative;
    width: 133px;
}

.index .gathering-gather-5 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 600;
    left: 54px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 10px;
}

.index .gathering-join-wrap {
    align-items: flex-start;
    background-color: #fe3338;
    border-radius: 25px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    margin-right: -41px;
    padding: 18px 360px;
    position: relative;
}

.index .gathering-join-text-3 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.2px;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.index .footer {
    align-items: center;
    align-self: stretch;
    background-color: #ffffff;
    border-bottom-style: none;
    border-color: #8d8d8d;
    border-left-style: none;
    border-right-style: none;
    border-top-style: solid;
    border-top-width: 1px;
    display: flex;
    flex-wrap: wrap;
    gap: 0px 0px;
    height: 279px;
    padding: 89px 98px;
    position: relative;
    width: 100%;
}

.index .footer-content-wrap {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    justify-content: center;
    position: relative;
}

.index .div-3 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    position: relative;
}

.index .ellipse {
    background-color: #13954c;
    border-radius: 32.5px/30.5px;
    height: 61px;
    position: relative;
    width: 65px;
}

.index .ECO-CONNECT-2 {
    color: #000000;
    font-family: "Alata", Helvetica;
    font-size: 30px;
    font-weight: 400;
    height: 68px;
    letter-spacing: 0;
    line-height: 30px;
    margin-top: -1px;
    position: relative;
    width: 217px;
}

.index .icon-leaf-2 {
    height: 40px;
    left: 15px;
    position: absolute;
    top: 12px;
    width: 34px;
}

.index .footer-menu-wrap {
    align-items: center;
    display: flex;
    gap: 40px;
    height: 19px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 547px;
}

.index .div-wrapper-2 {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 10px;
    justify-content: center;
    position: relative;
}

.index .text-wrapper-4 {
    color: #000000;
    flex: 1;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
}

.index .footer-privacy-wrap {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 10px;
    justify-content: center;
    margin-bottom: -19px;
    margin-top: -19px;
    position: relative;
}

.index .footer-right-wrap {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 19px;
    justify-content: flex-end;
    position: relative;
}

.index .footer-inquiry-wrap {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: flex-end;
    position: relative;
}

.index .footer-inquiry {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.index .footer-button-wrap {
    align-items: center;
    background-color: var(--colorsbluedark);
    border-radius: 15px;
    display: flex;
    gap: 10px;
    height: 50px;
    justify-content: center;
    padding: 5px 26px;
    position: relative;
    width: 160px;
}

.index .footer-button-text {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

button {
    padding: 0;
    border: none;
    background: none;
}