.screen {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    background-color: #ffffff;
}

.screen .div {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
}

.screen .view {
    position: relative;
    width: 1489px;
    height: 191px;
    margin-right: -8px;
}

.screen .overlap-group {
    position: relative;
    width: 1481px;
    height: 191px;
    background-color: #ffffff;
}

.screen .group {
    position: absolute;
    width: 46px;
    height: 52px;
    top: 89px;
    left: 1356px;
}

.screen .text-wrapper {
    position: absolute;
    width: 79px;
    top: 98px;
    left: 435px;
    font-family: "Do Hyeon-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
}

.screen .text-wrapper-2 {
    position: absolute;
    width: 79px;
    top: 98px;
    left: 637px;
    font-family: "Do Hyeon-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
}

.screen .text-wrapper-3 {
    position: absolute;
    width: 40px;
    top: 98px;
    left: 883px;
    font-family: "Do Hyeon-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
}

.screen .text-wrapper-4 {
    position: absolute;
    width: 79px;
    top: 98px;
    left: 1057px;
    font-family: "Do Hyeon-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
}

.screen .vector {
    position: absolute;
    width: 25px;
    height: 29px;
    top: 104px;
    left: 1246px;
}

.screen .icon-bell {
    position: absolute;
    width: 25px;
    height: 34px;
    top: 98px;
    left: 1304px;
}

.screen .element {
    position: absolute;
    width: 296px;
    height: 80px;
    top: 76px;
    left: 55px;
}

.screen .overlap {
    position: absolute;
    width: 67px;
    height: 76px;
    top: 1px;
    left: 0;
    background-color: #13954c;
    border-radius: 33.43px/38.08px;
}

.screen .icon-leaf {
    position: absolute;
    width: 35px;
    height: 51px;
    top: 14px;
    left: 16px;
}

.screen .ECO-CONNECT {
    position: absolute;
    width: 223px;
    top: 0;
    left: 71px;
    font-family: "Alata-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 30px;
}

.screen .frame {
    display: flex;
    flex-direction: column;
    width: 1481px;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
}

.screen .view-wrapper {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 228px;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.screen .div-2 {
    position: relative;
    width: 1217px;
    height: 228px;
}

.screen .overlap-2 {
    position: relative;
    width: 1221px;
    height: 228px;
}

.screen .nature {
    position: absolute;
    width: 1041px;
    height: 228px;
    top: 0;
    left: 176px;
    object-fit: cover;
}

.screen .div-3 {
    position: absolute;
    width: 1041px;
    height: 228px;
    top: 0;
    left: 176px;
    background-color: #03c75a80;
    border-radius: 25px;
}

.screen .discover {
    position: absolute;
    width: 1221px;
    height: 228px;
    top: 0;
    left: 0;
}

.screen .p {
    position: absolute;
    width: 836px;
    top: 146px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.screen .text-wrapper-5 {
    position: absolute;
    width: 544px;
    top: 60px;
    left: 227px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 26px;
    letter-spacing: 0;
    line-height: normal;
}

.screen .frame-wrapper {
    display: inline-flex;
    flex-direction: column;
    height: 187px;
    align-items: flex-start;
    gap: 10px;
    padding: 0px 10px;
    position: relative;
}

.screen .div-wrapper {
    display: flex;
    width: 1481px;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 50px 0px;
    position: relative;
    flex: 0 0 auto;
    margin-bottom: -50px;
}

.screen .frame-2 {
    display: inline-flex;
    flex-direction: column;
    height: 137px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
}

.screen .frame-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
}

.screen .frame-4 {
    display: flex;
    width: 363px;
    height: 137px;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.screen .text-wrapper-6 {
    position: relative;
    width: 363px;
    height: 137px;
    margin-top: -1px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.screen .frame-5 {
    display: flex;
    flex-direction: column;
    width: 1501px;
    height: 1784px;
    align-items: flex-start;
    gap: 10px;
    padding: 0px 321px;
    position: relative;
}

.screen .frame-6 {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
    margin-right: -20px;
}

.screen .frame-7 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
}

.screen .nature-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    position: relative;
    flex: 0 0 auto;
}

.screen .img {
    position: relative;
    width: 859px;
    height: 309px;
    object-fit: cover;
}

.screen .rectangle {
    position: relative;
    width: 859px;
    height: 1332px;
    background-color: #f2f2f2;
    border-radius: 30px;
}

.screen .rectangle-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 212px;
    left: 36px;
}

.screen .rectangle-2 {
    position: relative;
    width: 788px;
    height: 129px;
    background-color: #ffffff;
    border-radius: 21px;
}

.screen .icon-profile-circled {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 196px;
    left: 417px;
}

.screen .icon-profile-circled-2 {
    position: absolute;
    width: 51px;
    height: 56px;
    top: 942px;
    left: 112px;
}

.screen .frame-8 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 238px;
    left: 395px;
}

.screen .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #676767;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.screen .frame-9 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 287px;
    left: 360px;
}

.screen .text-wrapper-8 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.screen .element-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 379px;
    left: 108px;
}

.screen .element-cm {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #2c2c2c;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.screen .frame-10 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 730px;
    left: 109px;
}

.screen .text-wrapper-9 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #fe3338;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.screen .frame-11 {
    position: absolute;
    width: 79px;
    height: 39px;
    top: 1153px;
    left: 108px;
}

.screen .frame-12 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 763px;
    left: 109px;
}

.screen .frame-13 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 792px;
    left: 113px;
}

.screen .text-wrapper-10 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.screen .frame-14 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 819px;
    left: 115px;
}

.screen .text-wrapper-11 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #777777;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.screen .frame-15 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 894px;
    left: 36px;
}

.screen .rectangle-3 {
    position: relative;
    width: 788px;
    height: 215px;
    background-color: #ffeded;
    border-radius: 25px;
}

.screen .frame-16 {
    position: relative;
    flex: 0 0 auto;
}

.screen .icon-add-circled {
    position: absolute;
    width: 47px;
    height: 47px;
    top: 943px;
    left: 416px;
}

.screen .frame-17 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 998px;
    left: 261px;
}

.screen .text-wrapper-12 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.screen .frame-18 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 1043px;
    left: 372px;
}

.screen .rectangle-4 {
    position: relative;
    width: 116px;
    height: 30px;
    background-color: #fe3338;
    border-radius: 15px;
}

.screen .frame-19 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 1047px;
    left: 392px;
}

.screen .text-wrapper-13 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.screen .frame-20 {
    position: absolute;
    width: 229px;
    height: 42px;
    top: 1186px;
    left: 109px;
}

.screen .frame-21 {
    position: absolute;
    width: 152px;
    height: 34px;
    top: 1224px;
    left: 108px;
}

.screen .btn-row {
    width: 286px;
    top: 1253px;
    left: 508px;
    position: absolute;
    height: 40px;
}

.screen .btn {
    width: 135px;
    top: 0;
    left: 153px;
    position: absolute;
    height: 40px;
    all: unset;
    box-sizing: border-box;
}

.screen .overlap-group-2 {
    position: relative;
    width: 133px;
    height: 40px;
    background-color: #c7030e;
    border-radius: 9px;
}

.screen .text-wrapper-14 {
    position: absolute;
    top: 9px;
    left: 53px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.screen .overlap-wrapper {
    width: 135px;
    top: 0;
    left: 0;
    position: absolute;
    height: 40px;
    all: unset;
    box-sizing: border-box;
}

.screen .overlap-3 {
    position: relative;
    width: 133px;
    height: 40px;
    background-color: #6f4ff2;
    border-radius: 9px;
}

.screen .text-wrapper-15 {
    position: absolute;
    top: 10px;
    left: 54px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.screen .frame-22 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    position: absolute;
    top: 1163px;
    left: 113px;
}

.screen .text-wrapper-16 {
    position: relative;
    width: fit-content;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.screen .text-wrapper-17 {
    position: relative;
    width: fit-content;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.screen .frame-23 {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.screen .frame-24 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    flex: 0 0 auto;
}

.screen .text-wrapper-18 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.screen .frame-25 {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 18px 360px;
    position: relative;
    flex: 0 0 auto;
    margin-right: -41px;
    background-color: #fe3338;
    border-radius: 25px;
}

.screen .text-wrapper-19 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    letter-spacing: -0.2px;
    line-height: 24px;
    white-space: nowrap;
}

.screen .footer-wrapper {
    display: flex;
    width: 1498px;
    height: 279px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.screen .footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0px 0px;
    padding: 89px 98px;
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
    background-color: #ffffff;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #8d8d8d;
}

.screen .frame-26 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.screen .frame-27 {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
}

.screen .ellipse {
    position: relative;
    width: 65px;
    height: 61px;
    background-color: #13954c;
    border-radius: 32.5px/30.5px;
}

.screen .ECO-CONNECT-2 {
    position: relative;
    width: 217px;
    height: 68px;
    margin-top: -1px;
    font-family: "Alata-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 30px;
}

.screen .icon-leaf-2 {
    position: absolute;
    width: 34px;
    height: 40px;
    top: 12px;
    left: 15px;
}

.screen .menu-header {
    display: flex;
    width: 547px;
    height: 19px;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: relative;
    overflow: hidden;
}

.screen .text-wrapper-20 {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.screen .text-wrapper-21 {
    position: relative;
    flex: 1;
    margin-top: -20px;
    margin-bottom: -18px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.screen .frame-28 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 19px;
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
}

.screen .text-wrapper-22 {
    position: relative;
    width: fit-content;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.screen .button {
    display: flex;
    width: 160px;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 26px;
    position: relative;
    background-color: var(--colorsbluedark);
    border-radius: 15px;
    all: unset;
    box-sizing: border-box;
}

.screen .contact-us {
    position: relative;
    width: fit-content;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}
