:root {
    --neutral-800: rgba(38, 38, 38, 1);
    --white: rgba(255, 255, 255, 1);
    --neutral-400: rgba(163, 163, 163, 1);
    --colorsbluedark: rgba(10, 132, 255, 1);
    --blue-600: rgba(37, 99, 235, 1);
}
